* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px 10px 70px;
  font-size: 20px;
}
.ham-menu {
  width: 30px;
  height: 30px;
  display: none;
}

.logo {
  width: 100px;
  height: 100px;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

a {
  text-decoration: none;
}

.nav-btn {
  color: #808080;
  transition: all 1s ease;
}
.nav-btn:hover {
  color: #ba4040;
}

.book-btn {
  background-color: #9b3131;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 5px;
  transition: all 1s ease;
}

.book-btn:hover {
  background-color: #808080;
  color: #9b3131;
}
.hero {
  background-image: url(images/eyebg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.hero p {
  font-size: 30px;
  color: #ffffff;
}

.hero h1 {
  font-size: 50px;
  padding: 0px 350px;
  color: #ffffff;
  text-align: center;
}

.button1 {
  background-color: rgb(35, 33, 33);
  border-radius: 6px;
  font-size: 20px;
  text-align: center;
  padding: 20px 40px;
  color: white;
  transition: all 1s ease;
}
.button1:hover {
  background-color: #ffffff;
  color: black;
}

.about-us-section {
  margin: 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.about-us-section h2 {
  font-size: 35px;
}

.about-us-box {
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  gap: 70px;
}

.about-us {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
  background-color: #808080;
  border-radius: 5px;
  padding: 10px 30px;
  width: 20%;
}

.about-us-img {
  width: 100px;
  height: 100px;
}

.about-us h3 {
  font-size: 30px;
}
.numbers {
  background-color: rgb(158, 168, 176);
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
}

.numbers-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.numbers h2 {
  font-size: 70px;
}
.numbers p {
  font-size: 20px;
}

.line {
  width: 1px;
  height: 150px;
  background-color: #ffffff;
}

.boss {
  background-color: #808080;
  border-radius: 5px;
  width: 278px;
  height: 300px;
  padding: 50px 20px;
  margin-top: 10px;
  align-items: center;
}
.services-section {
  background-color: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  gap: 50px;
}
.text-s {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}
.services-box {
  display: flex;
  justify-content: space-between;
}
.services {
  gap: 30px;
  background-color: rgb(255, 255, 255);
  width: 30%;
  padding: 30px 50px;
}
.services img {
  width: 100%;
}

.projects-section {
  background-color: #cfc5c5;
  padding: 30px 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.projects-box {
  display: flex;
}

.projects {
  width: 25%;
}
.projects-box img {
  width: 50%;
}
.projects-box p {
  font-size: 20px;
}
.projects h2 {
  justify-content: center;
}

.contact{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact p {
  font-size: 20px;
}
.contact h2 {
  font-size: 30px;
}
.contact h3 {
  width: 300px;
  font-size: 25px;
}
.contact {
  background-color: rgb(210, 210, 255);
  display: flex;
  padding: 100px 20px;
}
.contact-us {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.text-c img {
  width: 100px;
  height: 100px;
}
.text-c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.end {
  background-color: rgb(77, 73, 73);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
}
.end-box {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.end img {
  width: 100px;
  height: 100px;
}
.end a {
  color: #ffffff;
}
.end p {
  gap: 20px;
  color: white;
}
.end-btn {
  width: 200px;
  color: rgb(189, 180, 180);
  text-align: center;
}

@media (max-width: 1140px) {
  .hero h1 {
    padding: 0 200px;
  }

  .about-us-box {
    gap: 30px;
  }

  .numbers {
    padding: 40px 70px;
  }
}

@media (max-width: 895px) {
  .about-us-box {
    flex-direction: column;
  }

  .about-us {
    width: 100%;
    padding: 30px 50px;
  }

  .header {
    padding: 10px 50px;
    display: flex;
  }

  .navlinks {
    gap: 15px;
  }
}

@media (max-width: 800px) {
  .nav-links {
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    position: absolute;
    top: -150%;
    right: 0;
    width: 60%;
    height: 100vh;
    background-color: rgb(21, 21, 91);
    transition: all 1s ease;
  }
  .ham-menu {
    z-index: 100;
  }

  .nav-links.active {
    top: 0;
  }
  .hero h1 {
    font-size: 40px;
    padding: 10px 80px 10px 50px;
  }
  .ham-menu {
    display: block;
  }

  .numbers {
    height: auto;
    flex-direction: column;
    gap: 30px;
  }
  .line {
    width: 150px;
    height: 1px;
  }
  .services-section {
    gap: 30px;
  }
  .text-s {
    padding: 10px 20px 10px 10px;
  }
  .services-box {
    flex-direction: column;
    gap: 30px;
  }
  .services img {
    width: 70%;
    align-items: center;
  }
  .services {
    width: 100%;
    gap: 30px;
  }

  .projects, .projects-box img{
    width: 100%;
  }
  .end {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .end-box {
    width: 80%;
  }
  .end-btn {
    width: 150px;
  }
}
@media (max-width: 639px) {
  /* .nav-links ul {
    flex-direction: column;
    align-items: center;
    margin: 100px 0 30px;
  } */

  .hero p {
    font-size: 25px;
    align-items: center;
  }
  .hero h1 {
    font-size: 30px;
  }
  .contact-us {
    flex-direction: column;
  }

  .contact {
    align-items: center;
    width: 100%;
  }
  .projects-box {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .logo {
    width: 50px;
    height: 50px;
  }

  .hero p {
    padding: 20px 30px;
    text-align: center;
  }
  .hero h1 {
    font-size: 30px;
    padding: 20px 30px;
    text-align: center;
  }
}
/* @media (max-width: 1195px) {
  header {
    background-color: rgb(200, 23, 23);
    display: flex;
    gap: 250px;
    padding: 5px 40px 5px 10px;
  }
  .hero h1 {
    background-color: #808080;
    font-size: 40px;
    padding: 0px 300px;
  }
  .hero p {
    background-color: #808080;
    font-size: 25px;
    padding: 0px 95px;
  }
  .about-us {
    width: 250px;
    height: 350px;
    padding: 9px 25px;
  }
  .about-us-section {
    padding: 5px 10px;
    display: flex;
    gap: 20px;
  }
  about-us-box {
    margin: 65px 0;
  }
  .numbers {
    height: 100px;
      padding: 20px 100px;
  }
  .numbers h2 {
    width: 50px;
  }
}
@media (max-width: 1147px) {
  hero h1 {
    font-size: 10px;
  }
} */
